.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: #F0F0F4;

  &__left {
    display: flex;
    align-items: center;

  }

  &__title {
    font-weight: bold;
    font-family: "Arial Black", sans-serif;
    color: #BFC2D4;
    padding-right: 30px;
  }
}

.top {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  font-size: 30px;

  span {
    font-size: 12px;
  }
}

.search {
  display: flex;
  gap: 20px;
  align-items: center;
}
